<div class="card text-center">
    <div class="card-header bg-blue-300 d-flex align-items-center text-start">
        <div class="flex-grow-1">
            <button routerLink="/archived" class='btn btn-outline-primary'>
                <i class="bi bi-archive"></i>
            </button>
        </div>

        <app-add-edit-todo-form></app-add-edit-todo-form>


        <div class="flex-grow-1"></div>
    </div>
    <div class="card-body p-0">
        <app-todo-list></app-todo-list>
    </div>
    <div class="card-footer bg-blue-300 text-body-secondary">
        <app-footer></app-footer>
    </div>
</div>