<div class="container">
    <h1 class="d-flex justify-content-center text-warning"> <i class="bi bi-check-square-fill pe-2"></i>TODOs</h1>

    <div class="card text-center">
        <div class="card-header bg-yellow-300 text-start d-flex justify-content-center">
            <app-add-edit-todo-form></app-add-edit-todo-form>
        </div>
        <div class="card-body p-0">
            <app-todo-list></app-todo-list>
        </div>
        <div class="card-footer bg-yellow-300 text-body-secondary">
            <app-footer></app-footer>
        </div>
    </div>
</div>