/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'bootstrap/scss/_variables.scss';

.form-label {
    margin-bottom: 0;
}


.bg-blue-300 {
    background-color: $blue-300;
}


.bg-blue-200 {
    background-color: $blue-200;
}

li:nth-child(even) {
    background-color: $gray-100;;
}